<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/materialize.min.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>
<body>
<div>
    <div class="app-main-layout">
        <nav class="navbar orange lighten-1">
            <div class="nav-wrapper">
                <ul class="right hide-on-small-and-down">
                    <li>
                        <ul id="dropdown" class="dropdown-content">
                            <li>
                                <a href="#" class="black-text">
                                    <i class="material-icons">account_circle</i>Профиль
                                </a>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li>
                                <a href="#" class="black-text">
                                    <i class="material-icons">assignment_return</i>Выйти
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav app-sidenav open">
            <li>
                <a href="/mock/service/delay" class="waves-effect waves-orange pointer">Замедление</a>
            </li>
        </ul>

        <main class="app-content">
            <div class="app-page">
                <div>
                    <div class="page-title">
                        <h3>Сервис заглушки</h3>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>