html, body {
  height:100%;
}
  
* {
  margin:0;
  padding:0;
}

.wraper {
  height:100%;
  overflow:hidden;
}

.top {
  top:0;
  height: 92px;
  background:#78a1c9;
}

.left-bar {
  width: 178px;
  float:left;
  min-height:100%;
  background: #75a8e3da;
}

.main {
  margin-left:178px;
  min-height:100%;
}